body{
  margin: 0;
  padding: 0;
  background-image: url('/static/images/polaroid.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 animation: transitionIn 2s;
}
.box{
    border-radius: 5px;
    width: 350px;
    height: 420px;
    background-color: black;
    color: white;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box; /* Includes any borders into the width, height */
    padding: 20px;
}
.userimage{
display: block;
left: 35%;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: -18%;   
}
.fields{
font-weight: bold;
}
h2{
    text-align: center;
}
p{
    font-size: 19px;
    margin:2px;
}
label{
    font-size: 20px;
    margin-bottom: 0px;
}
input.submit{
    font-size: 20px;
    background-color: #1868e7;
    border: none;
    color: white;
    border-radius: 15px;
    transition: linear 1s;
}
input.submit:hover{
    background-color: #0452d1;   
    transition: linear 1s;
}
input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: white;
    border: none;
    border-bottom: solid white 1px;
    outline: none;
    height: 35px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 15px;
}
div.login{
    margin-bottom: 5px;
}

div.redirect{
    width: 100%; 
    text-align: center;
}
.options{
font-size: 20px;
color: #1868e7;
text-decoration: none;
}
.options:hover{
    text-decoration: none;
}
p.options{
    margin-bottom: 10px;
}

@keyframes transitionIn{
    from{
        opacity: 0;
       
    }
    to{
        opacity: 1;
        
    }

}
