.forgotPassForm {
    border-radius: 5px;
    width: 350px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    /* Includes any borders into the width, height */
    padding: 50px;
}

.resetPassForm {
    border-radius: 5px;
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    /* Includes any borders into the width, height */
    padding: 50px;
}

input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: white;
    border: none;
    border-bottom: solid white 1px;
    outline: none;
    height: 35px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-size: 20px;
    margin-bottom: 0px;
    width: 200px;
}