body{
    background-image: url("../static/images/camera+plant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.sign-up{
    left: auto;
    right: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top:100px
 
}
.signup-btn{
    background-color:rgb(24, 134, 197);
    left: auto;
    right: auto;
    width: 300px;
    height: 30px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
}
.signup-tab{
    width: 300px;
    left: auto;
    right: auto;
    margin: auto;
}
.inputbox{
    justify-content: center;
    left: auto;
    right: auto;
    margin: auto;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid gainsboro;
    margin: 5px;
}
h2{
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#accountmsg{
    color: white;
}