{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Caption your Post!</title>
</head>

<body>
    <img src="..\static\images\{{image}}">
    <div class="caption">
        <h2>Enter your caption!<br></h2>
        <form method="POST" action="">
            <div class="caption">
                <label for=""> {{ form.caption.label }}</label>
                {{ form.caption }}
            </div>
            <div class="submit">
                {{ form.submit }}
            </div>
        </form>
    </div>
</body>

</html>
{% endblock %}