{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Caption your Post!</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="..\static\stylesheet.css">
    <script src='main.js'></script>
    
</head>
<body>
    <section class = "container-fluid no-padding">
        <div class = "card">
            <img src="..\static\images\{{image}}">
            <div class = "card-footer">   
                <div class="caption">
                   
                    <h3>Enter your caption!</h3>
                    <form method="POST" action="">
                        <div class = "caption">
                            <label for=""> {{ form.caption.label(class = "hide-caption") }}</label>
                            {{ form.caption(class = "caption") }}

                        </div>
                        <br>
                        <div class = "submit">
                            {{ form.submit(class = "submit-post") }}
                        
                    </form>
                    </div>
                </div>          
            </div>

        </div>
        
    </section>
    
    


    </section>
</body>
</html>
{% endblock %}

<!--  -->