{% extends "base.html" %}

{% block title %} {{ super() }} - Caption your Post!{% endblock %}

{% block content %}

<div class="caption">
    <img src="data:image/jpeg;base64,{{ image }}">
    <h2>Enter your caption!<br></h2>
    <form method="POST" action="">       
            <label class = "caption-text" for=""> {{ form.caption.label }}</label>
            <br/>
            {{ form.caption }}
            <br/>
            {{ form.submit(class = "caption-submit") }}
            <br/>
    </form>
</div>
{% endblock %}