{% extends "base.html" %}

{% block title %} {{ super() }} - Forgot Password{% endblock %}

{% block head %}
<link rel="stylesheet" href="..\static\resetPass.css">
{% endblock %}

{% block content %}
    <div class="forgotPassForm">
        <h2>Enter your new email and a link will be sent where you can setup a new password.<br></h2>
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <br><br>
            <label for=""> {{ form.email.label }}</label>
            {{ form.email }}
            <div class="submit">
                {{ form.submit(class="submit")}}
            </div>
        </form>
    </div>
{% endblock %}