{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<title>Login</title>
<body>

    <div class="container">
        <center>
            <h2>Log in</h2>
                <table>
                <tr>
                 <td>Email or Phone Number:</td>
                 <td>
                     <input type="text" name="user">
                 </td>
                </tr>
    
                <tr>
                 <td>Password:</td>
                 <td>
                    <input type="password" name="user_password">
                 </td>
                </tr>
                <tr>
                   <td> 
                      <input type="submit" name="submit" value="Sign in">
                   </td>
                </tr>
                <tr>
                 
                 <td>
                    <b>Create New Account</b>
                 </td>
                </tr>
        </div>



</body>

</html>
{% endblock %}