<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}SOEN 341{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Customize stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="..\static\stylesheet.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
    {% endblock %}
</head>

<body>

    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/">Binstagram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    <br>

    {% block content %}
   
    {% endblock %}
    <div class = "main-grid">
        <img src="static\images\img1.jpg" alt="car1">
        <img src="static\images\img2.jpg" alt="car2">
        <img src="static\images\img3.jpg" alt="car3">
        <img src="static\images\img4.jpg" alt="car4">
        <img src="static\images\img5.jpg" alt="car5">
        <img src="static\images\img6.jpg" alt="car6">
        <img src="static\images\img7.jpg" alt="car7">
        <img src="static\images\img8.jpg" alt="car8">
        <img src="static\images\img9.jpg" alt="car9">
    </div>


   


</body>

</html>
