{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="..\static\stylesheet.css">
</head>
<body>
    <section class = "container-fluid no-padding">
        <div class = "card">
            <div class = "card-header">
                <div class = "user">
                    <a href="/profile/{{ user.username }}">{{ user.username }}</a> <!-- user who posted-->
                </div>

                <p>{{ post.time }}</p> <!-- date posted-->
            </div>
            <a href= '/post/{{ post_id }}'></a><img src="data:image/jpeg;base64,{{ image }}"></a>
            <div class = "card-footer">
                <form action="" id="likeForm" method="POST" >
                    <button class="btn" input type="submit" name="{{ state }}" value="{{ state }}"><img id="likebutton" src="..\static\images\{{ state }}button.png"></img></button>
                    {{ post.likes }} <!-- number of likes -->
                    <div>Liked by:
                        {% for username in user_likes %}
                            <a href= '/profile/{{ username }}'>{{ username }}</a>
                            {% if username != user_likes[-1] %},{% endif %}
                        {% endfor %}
                    </div>
                    <br><br>
                </form>
                <div class = "user">
                    {{ post.caption }} <!-- caption-->
                </div>
                <br><br>
                {% for comment in comments %}
                    {{ comment.content }}<br>
                {% endfor %}
                <br>Comments<br>
                <form action="" id="commentForm", method = "POST", autocomplete="off">
                    <input type = "text" name = "comment">
                    <br>
                    <input type="submit" name = "comment"><br>
                </form>
                <br>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}