{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="..\static\stylesheet.css">
    <script src='main.js'></script>
</head>
<body>
    <section class = "container-fluid no-padding">
        <div class = "card">
            <div class = "card-header">
                {{postList[1]}}
                {{postList[5]}}
            </div>
            <img src="..\static\images\{{postList[2]}}" id = "car3" alt="car3">
            <div class = "card-footer">
                {{postList[4]}}
                <form action="" id = "likeForm" method="POST" >
                    <button class="btn" input type="submit" name="like" value="like">Like</button>
                </form>
               
                {{postList[3]}}
                <br><br>
                Comments<br>
                <form action="" id="commentForm", method = "POST">
                    <input type = "text" name = "comment">
                        
                
                    <br>
                    <input type="submit" name = "comment"><br>
                   

                </form>
                <br>
                
                
                
                {% for i in postList[6:]%}
                    {{i}}<br>
                {% endfor %}
            </div>

        </div>
        
    </section>
</body>
</html>
{% endblock %}