{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>

<head>
    {% block head %}
    <title>{% block title %}SOEN 341{% endblock %}</title>
    <link rel="stylesheet" href="..\static\stylesheet.css">
    {% endblock %}
</head>

<body>
    <br>
    <div>
        <div class="profile">
            <p style="color: aliceblue;">
                <a href="/profile/{{username}}">{{username}}</a>
                <br />
                Total Likes: {{likes}}
                <br />
                Followers: {% for people in followers %} {{people}}, {% endfor %}
                <br />
                Following: {% for people in following %} {{people}}, {% endfor %}
            </p>
        </div>
    </div>
    <br><br><br>
    <div class="main-grid">
        {% for image in imageList %}
        {% if image == '' %}
        {% else %}
        <a href='/post/{{image}}'><img src="../static/images/{{image}}" alt="{{image}}" /></a>
        {% endif %}
        {% endfor %}
    </div>
</body>

</html>
{% endblock %}