{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset your password</title>
    <link rel="stylesheet" href="/static/resetPassCSS.css">
  
</head>
<body>
    <div class="box2">
        <h2>Enter your new Password!<br></h2>
        <br><br>
        <form method="POST" action="">
            <div class = "caption">
                {{ form.csrf_token() }}
                <label for=""> {{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div class = "caption">
                {{ form.csrf_token() }}
                <label for=""> {{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>
            <div class = "submit">
                {{ form.submit(class = "submit")}}
            </div>
        </form>
    </div>
</body>
</html>
{% endblock %}