{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Signup</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="..\static\signup.css">
</head>
<body>
    <div class="sign-up">
            <h2>Let's get started!<br></h2>
                    <table class = "signup-tab">
                        <tr>
                         <td>
                             <input type="text" name="firstname" placeholder="First Name" class= "inputbox">
                         </td>
                        </tr>
        
                        <tr>
                            <td>
                                <input type="text" name="lastname" placeholder= "Last Name"  class= "inputbox">
                            </td>
                        </tr>
        
                        <tr>
                                <td>
                                    <input type="text" name="email" placeholder="Email"  class= "inputbox">
                                </td>
                        </tr>
        
                        <tr>
                            <td>
                                <input type="text" name="user" placeholder="Username" class= "inputbox">
                            </td>
                        </tr>
            
                        <tr>
                         <td>
                            <input type="password" name="user_password" placeholder="Password" class= "inputbox">
                         </td>
                        </tr>
        
                        <tr>
                           <td> 
                              <input type="submit" class="signup-btn" value="Sign up">
                           </td>
                        </tr>
                        <tr>
                            <td id = "accountmsg">Already have an account? 
                               <a href = "login" style="color: beige">Login</a>
                            </td>
                         </tr>
                        <tr>                
        </div>
    
    
</body>
</html>
{% endblock %}