{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
<title>Followers</title>
<link rel="stylesheet" href="/static/users.css">
</head>
<body>
   <form action="" method="POST" >
      <div class = "box" >
         <p>
            {% for username, follow_state in users.items() %}
               <a href="/profile/{{ username }}">{{ username }}</a>
               <button class="btn" type="submit" name="{{ follow_state }}" value="{{ username }}">{{ follow_state }}</button>
               <br>
            {% endfor %}
         </p>
      </div>
   </form>
</body>

</html>
{% endblock %}